.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 70px;
}
.singleChart {
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.08);
  border-radius: 24px;
  padding: 30px;
  width: 100%;
}
.space,
.space2 {
  padding: 20px;
}
.topChart {
  width: 100%;
  padding: 24px 48px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter{
    display: flex;
    gap: 1rem;
}
/* .filter > span:nth-child(1) {
  margin-right: 20px;
} */
.filter > span {
  cursor: pointer;
}
.basedon > span:nth-child(1) {
  margin-right: 20px;
}
.basedon > span {
  color: #a0a3bd;
  cursor: pointer;
  user-select: none;
}
.active {
  color: #14142b !important;
  font-weight: 600;
}


@media screen and (max-width: 768px) {
  .space2 {
    width: 100%;
  }
  .topChart{
    flex-direction: column;
  }
}

@media screen and (max-width: 426px) {
  .container {
    padding: 0 1%;
  }
}
