.container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex: 8;
  padding-top: 56px;
  padding-right: 70px;
  flex-direction: column;
  row-gap: 48px;
}
.profileBar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 25px 48px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 16px;
  position: relative;
}
.title {
  font-weight: 700;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}
.title > span:nth-child(2) {
  border-bottom: 1px solid #dedede;
  height: 5px;
  width: 100%;
}
.span {
  margin-right: 56px;
  font-size: 18px;
  font-weight: 600;
  color: #aaaaaa;
  cursor: pointer;
}
.span.act {
  color: #14142b;
}
.barActive {
  height: 4px;
  border-radius: 4px;
  background-color: #5f2eea;
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 25px;
  transition: all 0.4s ease-in-out;
}
.barActive.order {
  left: 210px;
}

.profileInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 32px;
  background: #ffffff;
  border-radius: 24px;
  width: 100%;
  row-gap: 49px;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
}
.first {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.inputProfile {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 10px;
  position: relative;
}

.inputProfile > input {
  font-weight: 400;
  color: #000000;
  background-color: #fcfdfe;
  border: none;
  border-radius: 10px;
  height: 64px;
  width: 90%;
  padding: 20px;
  border-bottom: 1px solid #999797;
}
.inputProfile > input:enabled {
  border: 1px solid #999797;
}
.inputProfile > input:disabled,
.inputProfile > input::placeholder {
  color: #aaaaaa;
}

.privacy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 32px;
  background: #ffffff;
  border-radius: 24px;
  width: 100%;
  row-gap: 49px;
}
.eye {
  position: absolute;
  right: 70px;
  top: 50px;
  width: 20px;
  height: 20px;
}
.historyCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  border-radius: 24px;
  width: 100%;
  row-gap: 49px;
  margin-bottom: 30px;
}
.titleCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px 32px;
  padding-bottom: 0px;
}
.titleInfo {
  display: flex;
  flex-direction: column;
}
.line {
  border-bottom: 1px solid #dedede;
  width: 100%;
  height: 5px;
}
.footerCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 0px;
  padding: 40px 32px;
}
.titleInfo > span:nth-child(1) {
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
}
.titleInfo > span:nth-child(2) {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
}
.footerCard > span:nth-child(1) {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 196px;
  background-color: #00ba88;
  color: #ffffff;
  border-radius: 4px;
}
.updateBtn {
  font-weight: 700;
  font-size: 16px;
  color: #f7f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 60px;
  background: #5f2eea;
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
}
.modalHeader {
  width: 100%;
  /* background-color: #5f2eea; */
  color: red;
  text-align: center;
  font-weight: 900;
}
.modalBody {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.modalYesButton {
  background-color: #5f2eea;
  cursor: pointer;
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
}
.modalYesButton:hover {
  background-color: #835de9;
}
.modalNoButton {
  background-color: #808080;
  cursor: pointer;
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
}
.modalNoButton:hover {
  background-color: #545252;
}
.detailsBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 196px;
  background-color: #fff;
  border: 2px solid #808080;
  color: #999797;
  border-radius: 4px;
}
.detailsBtn:hover{
  background-color: #5f2eea;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .container {
    flex: 10;
    padding-left: 70px;
  }
  .barActive {
    left: 55px;
  }
  .barActive.order {
    left: 240px;
  }
}
