@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap");

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Mulish", sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
}

@keyframes ldio-si81yxhtrka {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-si81yxhtrka div { box-sizing: border-box!important }
.ldio-si81yxhtrka > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #5f2eea transparent #5f2eea transparent;
  animation: ldio-si81yxhtrka 1s linear infinite;
}
.ldio-si81yxhtrka > div:nth-child(2) { border-color: transparent }
.ldio-si81yxhtrka > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-si81yxhtrka > div:nth-child(2) div:before, .ldio-si81yxhtrka > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #5f2eea;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #5f2eea;
}
.ldio-si81yxhtrka > div:nth-child(2) div:after { 
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #5f2eea;
}
.loadingio-spinner-dual-ring-90hxh4txrkc {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-si81yxhtrka {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-si81yxhtrka div { box-sizing: content-box; }