.seatContainer{
    display: flex;
    align-items: flex-center;
    justify-content: space-evenly;
    background: #FFFFFF;
    border-radius: 24px;
}
.tableSeat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}