.container {
    width: 100%;
    background-color: #F5F6F8;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 70px;
    padding-top: 56px;
    /* flex-direction: column; */
}

.paymentInfo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 60%;
    padding-right: 24px;
}

.personalInfo {
    display: flex;
    width: 40%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 48px;
    padding-left: 24px;
}

.personalInfo>span {
    font-size: 24px;
    font-weight: 700;
    color: #14142B;
}

.paymentInfo>span {
    font-size: 24px;
    font-weight: 700;
    color: #14142B;
}

.cardPayment {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 24px;
    width: 100%;
    padding: 40px 48px;
    row-gap: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.cardPaymentItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #E6E6E6;
}

.cardPaymentItem>span:nth-child(1) {
    font-size: 20px;
    font-weight: 400;
    color: #6B6B6B;
}

.cardPaymentItem>span:nth-child(2) {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.cardPaymentMethod {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 24px;
    width: 100%;
    padding: 40px 48px;
    row-gap: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.imgCard {
    padding: 14px 36px;
    border: 2px solid #DEDEDE;
    border-radius: 16px;
    cursor: pointer;
}
.imgCardDisabled{
    padding: 14px 20px;
    border: 2px solid #DEDEDE;
    border-radius: 16px;
    cursor: not-allowed;
}
.imgDisable{
    cursor:not-allowed;
    filter: contrast(0.01);
}
.imgCardAvtive{
    padding: 14px 26px;
    /* border: 2px solid #DEDEDE; */
    border-radius: 16px;
    border: 3px solid #5F2EEA;
}

.imgCard:hover,
.imgCard:focus {
    border: 2px solid #5F2EEA;
}

.imgCard.Act {
    border: 2px solid #5F2EEA;
}

.topImg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.line>span:nth-child(1),
.line>span:nth-child(3) {
    height: 2px;
    border-top: 1px solid #DEDEDE;
    width: 40%;
}

.line>span:nth-child(2) {
    color: #A0A3BD;
    font-size: 16px;
    font-weight: 400;
}

.cardPaymentMethod>span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: #6E7191;
}

.cardPaymentMethod>span>b {
    color: #5F2EEA;
    cursor: pointer;
}

.cardPersonalInfo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 24px;
    width: 100%;
    padding: 40px 48px;
    row-gap: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.cardPersonalInfo>input {
    padding: 20px 32px;
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    width: 100%;
}

.cardPersonalInfo>input:focus {
    outline: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 72px;
}

.back:hover {
    background-color: #d5defa;
}

.backModal {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5F2EEA;
    border-radius: 16px;
    color: #5F2EEA;
    padding: 8px;
    width: 40%;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5F2EEA;
    border-radius: 16px;
    color: #5F2EEA;
    padding: 20px;
    width: 40%;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.pay:hover {
    background-color: #9677eb;
}

.pay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5F2EEA;
    border-radius: 16px;
    color: #FFFFFF;
    padding: 20px;
    width: 40%;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.modalHeader {
    width: 100%;
    /* background-color: #5f2eea; */
    color: red;
    text-align: center;
    font-weight: 900;
}

.modalBody {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.modalYesButton {
    background-color: #5f2eea;
    cursor: pointer;
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 10px;
}

.modalYesButton:hover {
    background-color: #835de9;
}

.modalNoButton {
    background-color: #808080;
    cursor: pointer;
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 10px;
}

.modalNoButton:hover {
    background-color: #545252;
}

@media screen and (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        padding: 40px;
    }

    .personalInfo {
        width: 100%;
        padding: 20px;
    }

    .paymentInfo {
        width: 100%;
        padding: 20px;
    }

    .imgCard {
        padding: 20px;
    }
}