@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

.container{
  background: rgba(245, 246, 248, 1);
  padding: 60px 15%;
}
.main{
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.title{
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.25px;
  color: #14142B;
  text-align: center;
  margin: 5%;
}
.ticket{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 16px;
  margin: 0 5% 5% 5%;
}
.tickethead{
  background: #5F2EEA;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  display: flex;
  flex-direction: row;
  height: 20%;
}
.lefthead{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  /* padding: 20px 0px; */
}
.righthead{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-left: 2px dashed #DEDEDE;
  position: relative;
}
.midhead{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  text-align: right;
  letter-spacing: 0.75px;
  color: #FFFFFF;
  /* padding: 20px 0px; */
  position: relative;
  right: 30px;
}
.body{
  display: flex;
  flex-direction: row;
}
.details{
  flex: 2;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
}
.key{
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #AAAAAA;
}
.value{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: 0.75px;
  color: #14142B;
}
.mainrow{
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0px 50px;
}
.barcode{
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px dashed #585757;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 20px;
  margin-bottom: 40px;
}
.button{
  border: 1px solid #4E4B66;
  border-radius: 4px;
  padding: 10px 40px;
  cursor: pointer;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.button:hover{
  background-color: rgb(92, 92, 92);
  color: white;
}

.button:active{
  background-color: rgb(0, 0, 0);
  color: white;
}
.round1{
  position: absolute;
  background-color: white;
  border-bottom: 1px solid #DEDEDE;
  border-radius: 25px;
  width: 45px;
  height: 45px;
  bottom: 40px;
  right: 260px
}

.round2{
  position: absolute;
  background-color: white;
  border-top: 1px solid #DEDEDE;
  border-radius: 25px;
  width: 45px;
  height: 45px;
  bottom: -20px;
  right: 260px
}

@media(max-width:1024px){
  .round1, .round2{
    display: none;
  }
}

@media(max-width:768px){
  .container{
    background: rgba(245, 246, 248, 1);
    padding: 60px 5%;
  }
  .round1, .round2{
    display: none;
  }
  .ticket{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    margin: 0 5% 5% 5%;
  }
  .mainrow{
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
  }
  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 50px;
  }
  .body{
    display: flex;
    flex-direction: column;
  }
  .details{
    flex: 2;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
  }
  .righthead{
    display: none;
  }
  .barcode::before{
    content: url("../../assets/tickitz-mini.png");
    background-color: #5F2EEA;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    margin: 1% 0;
  }
  .barcode{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px dashed #585757;
    border-left: none;
    margin: 2% 0;
  }
}