.container {
  display: flex;
  flex: 4;
  align-items: center;
  padding: 56px 32px 0px 70px;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: 32px;
  background: #ffffff;
  box-shadow: 0px 8px 32px rgba(186, 186, 186, 0.08);
  border-radius: 12px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #4e4b66;
  padding: 0px 40px;
}
.imgProfile {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.displayName {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
}
.displayName > span:nth-child(1) {
  color: #14142b;
  font-size: 20px;
  font-weight: 600;
}
.displayName > span:nth-child(2) {
  color: #4e4b66;
  font-size: 16px;
  font-weight: 400;
}
.line {
  border-bottom: 2px solid #dedede;
  width: 100%;
  align-items: center;
}
.bottomCard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 40px;
  padding: 0px 40px 0 40px;
  width: 100%;
}
.bottomCard > span {
  font-size: 16px;
  font-weight: 600;
  color: #4e4b66;
}

.maskGroup {
  background: linear-gradient(75deg, #5f2eea 31.28%, #7647f9 62.16%);
  /* box-shadow: 0px 8px 32px #5F2EEA; */
  border-radius: 35px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  width: 100%;
  height: 180px;
  position: relative;
}
.movie {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.loyaltyPoints {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.star {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.maskGroup > span:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  height: 122px;
  width: 122px;
  border-radius: 50%;
  top: -50px;
  right: 0;
}
.maskGroup > span:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  height: 122px;
  width: 122px;
  border-radius: 50%;
  top: -20px;
  right: -40px;
}
.maskGroup:nth-child(1) {
  position: absolute;
  right: 0;
}

.loyaltyPoints {
  left: 0;
}
.proggressbar {
  background-color: #f5f6f8;
  box-shadow: inset 0px 2px 4px rgba(17, 17, 17, 0.16);
  border-radius: 8px;
  width: 100%;
  position: relative;
  height: 16px;
}
.proggressbar > span {
  width: 50%;
  height: 16px;
  background-color: #5f2eea;
  position: absolute;
  border-radius: 8px;
}
.rightArrow {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    transform: translateX(-200%);
    position: absolute;
    z-index: 99;
    padding: 0;
    transition: all 1s ease-in-out;
  }
  .container.show {
    transform: translateX(0);
  }
  .card {
    margin: -23px 0;
  }
  .rightArrow {
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #5f2eea;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 50%;
    padding-bottom: 10px;
    position: absolute;
    top: 50%;
    transform: translateX(0%);
  }
  .rightArrow.show {
    z-index: 100;
    transition: all 1s ease-in-out;
    transform: translateX(930%);
  }
}
