.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f6f8;
  padding: 0 70px;
}
.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* flex-direction: column; */
}
.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 56px 70px;
}
.movieDescription {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 60%;
}
.movieDescription > span {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
}
.cardDesc {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 56px 40px;
  width: 100%;
  margin-top: 24px;
}
.topCard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.cardImage {
  padding: 36px;
  border: 1px solid #dedede;
  border-radius: 16px;
  width: 30%;
  position: relative;
}
.cardImage > input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  left: 60px;
}
.cardInput {
  width: 65%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  position: relative;
}
.cardInput > input {
  border: 1px solid #dedede;
  border-radius: 16px;
  padding: 22px 24px;
  background-color: #fcfdfe;
}
.cardInput > input:nth-child(6) {
  width: 50%;
}
.duration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.inputHour {
  display: flex;
  justify-content: space-between;
}
.inputHour > input {
  padding: 22px 24px;
  border: 1px solid #dedede;
  border-radius: 16px;
  padding: 22px 24px;
  background-color: #fcfdfe;
  width: 100%;
}
.bottomCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}
.director:nth-child(2) {
  width: 65%;
}
.director {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 30%;
}
.director > input {
  border: 1px solid #dedede;
  border-radius: 16px;
  padding: 22px 24px;
  background-color: #fcfdfe;
}
.synopsis {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 12px;
}
.synopsis > textarea {
  height: 108px;
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 16px;
  padding: 22px 24px;
  background-color: #fcfdfe;
}
.synopsis > textarea:focus {
  outline: none;
}
.premiere {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40%;
  flex-direction: column;
  margin-left: 24px;
}
.premiereCard {
  padding: 32px 40px;
  background: #ffffff;
  border-radius: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 46px;
  margin-top: 24px;
}
.premiereImg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.premiere > span {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
}
.showtime {
  margin-top: 48px;
  width: 100%;
}
.showtime > span {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
}
.showtimeCard {
  padding: 32px 40px;
  background: #ffffff;
  border-radius: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 46px;
  margin-top: 24px;
}
.setTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.filterValue {
  height: 50px;
  width: 300px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  color: #4e4b66;
  background-color: #eff0f6;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.filterValue:focus {
  outline: none;
}
.button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.addMovie {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #5f2eea;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  width: 40%;
  margin-top: 40px;
  border-radius: 16px;
}
.addMovie:hover {
  background-color: #8f6af3;
}
.cinemaNameAct {
  /* cursor: pointer; */
  border: 1px solid #5f2eea;
  padding: 15px;
  border-radius: 12px;
}
.price {
  font-weight: 700;
  font-size: 16px;
  color: #5f2eea;
}
.space {
  padding: 20px;
}
.topChart {
  width: 100%;
  padding: 24px 48px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  
  align-items: center;
  justify-content: space-between;
}
.filter > span:nth-child(1) {
  margin-right: 20px;
}
.filter > span {
  cursor: pointer;
}
.basedon > span:nth-child(1) {
  margin-right: 20px;
}
.basedon > span {
  color: #a0a3bd;
  cursor: pointer;
  user-select: none;
}
.active {
    color: #14142b !important;
    font-weight: 600;
  }

.pembungkus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* padding: 0 70px; */
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .top {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .movieDescription {
    width: 100%;
    padding: 60px;
    margin: 0;
  }
  .premiere {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    padding: 60px;
  }
  .duration > label {
    font-size: 14px;
  }
  .pembungkus {
    flex-direction: column;
    padding: unset;
  }
  .topChart{
    flex-direction: column;
  }
}

@media screen and (max-width: 426px) {
  .basedon{
    display: flex;
  }
  .top {
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .filterValue {
    width: 100%;
  }
  .movieDescription {
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  .premiere {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    padding: 15px;
  }
  .premiereImg {
    flex-direction: column;
    row-gap: 20px;
  }
  .duration > label {
    font-size: 14px;
  }
  .container2 {
    padding: unset;
  }
}
